
.client-title-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: -5px;
}


.toolbar-spacer {
    flex: 1 1 auto;
}

.scheduled-job {
    background-color: rgb(77, 92, 92);
    height:45px;
    border-bottom: 1px solid black;
}
.scheduled-job-button {
    margin-right:-15px;
}

.active-job {
    width: 100%;
}