<mat-card >
    <mat-card-header>
        <mat-card-title class="client-title-container">
            <div>{{ client.name }}</div>
            @if (client.state === "ACTIVE")
            {
                <button [disabled]="!client.connected"
                        mat-icon-button
                        (click)="requestStateChange(false)"
                        matTooltip="Client is active!">
                    <mat-icon>pause_circle</mat-icon>
                </button>
            }
            @else {
                <button [disabled]="!client.connected"
                        mat-icon-button
                        (click)="requestStateChange(true)"
                        matTooltip="Client is suspended!">
                    <mat-icon>play_circle</mat-icon>
                </button>
            }
        </mat-card-title>
        <mat-card-subtitle>
            (<span *ngIf="client.connected"> connected</span>
            <span *ngIf="!client.connected"> disconnected</span>)
        </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <mat-toolbar style="min-height: 0px;">

            @if (activeJob$ | async; as runningJob)
            {
                <mat-toolbar-row class="active-job">
                    <div class="active-job-title-container">
                        <mat-icon>work</mat-icon>
                        <span>{{ runningJob.name }}</span>
                    </div>
                    <span class="toolbar-spacer"></span>
                    <span class="active-job-button-container">
                        <button mat-icon-button
                                [disabled]="client.state === 'ACTIVE'"
                                class="scheduled-job-button"
                                matTooltip="Unassign Job."
                                (click)="unassignJob(runningJob)">
                            <mat-icon fontIcon="assignment_return"></mat-icon>
                        </button>

                        <button mat-icon-button
                                class="scheduled-job-button"
                                (click)="deleteJob(runningJob)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </span>
                </mat-toolbar-row>
            }
            @for (job of (scheduledJobs$| async);
                let f = $first; let l =$last;
                track job)
            {
            <mat-toolbar-row class="scheduled-job">
                <span>{{ job.name }}</span>
                <span class="toolbar-spacer"></span>
                <button mat-icon-button
                        [disabled]="f"
                        class="scheduled-job-button">
                    <mat-icon fontIcon="vertical_align_topint"></mat-icon>
                </button>
                <button mat-icon-button
                        [disabled]="f"
                        class="scheduled-job-button">
                    <mat-icon fontIcon="arrow_upwards"></mat-icon>
                </button>
                <button mat-icon-button
                        [disabled]="l"
                        class="scheduled-job-button">
                    <mat-icon fontIcon="arrow_downwards"></mat-icon>
                </button>
                <button mat-icon-button
                        class="scheduled-job-button"
                        matTooltip="Unassign Job."
                        (click)="unassignJob(job)">
                    <mat-icon fontIcon="assignment_return"></mat-icon>
                </button>

                <button mat-icon-button
                        class="scheduled-job-button"
                        (click)="deleteJob(job)">
                    <mat-icon>delete</mat-icon>
                </button>

            </mat-toolbar-row>
        }
        </mat-toolbar>

    </mat-card-content>


</mat-card>