
<mat-card>

    <mat-toolbar>
        <h1>Unassigned Jobs</h1>
    </mat-toolbar>

    <mat-card>
        <mat-card-content>
            <mat-toolbar class="jobs-container">
                @for(job of jobs; track job) {
                    <mat-toolbar-row class="job-line">
                        <mat-checkbox (change)="updateSelection(job, $event.checked)">
                            {{ job.name }} - {{ job.description }}
                        </mat-checkbox>
                        <span class="toolbar-spacer"></span>
                        <button mat-icon-button
                                (click)="deleteJob(job)"><mat-icon>delete</mat-icon></button>
                    </mat-toolbar-row>
                }
            </mat-toolbar>
        </mat-card-content>
    </mat-card>

    <mat-toolbar class="toolbar">
        <div class="client-assign-container">
            <mat-form-field subscriptSizing="dynamic"
                            class="client-select">

                <mat-label>Client</mat-label>
                <mat-select color="primary"
                            [(ngModel)]="selectedClient"
                            (selectionChange)="changeClientSelection($event.value)">
                    @for (client of (clients$ | async); track client) {
                        <mat-option [value]="client">
                            {{ client.name }}
                        </mat-option>
                    }
                </mat-select>
            </mat-form-field>
            <button mat-raised-button
                    [disabled]="!selectedClient || !selected.length"
                    class="toolbar-button"
                    color="primary"
                    (click)="assignJobs()">Assign</button>
        </div>

    </mat-toolbar>

</mat-card>