
mat-selection-list.mat-theme {
  background-color: darkslategrey; /* Set the desired background color */
}

.assigned-list {
  max-height: 300px;
  overflow-y: auto;
}
.finished-list {
  max-height: 300px;
  overflow-y: auto;
}