

.form-container-h {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.form-container-v {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.file-input {
    display: none;
}

.file-upload {

}

.error {
    color: red;
}