<h2> Create new Job </h2>

<div class="form-container-v">
    <div class="form-container-h">
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput
                   type="text"
                   [ngModel]="name$ | async"
                   (input)="onNameChange($event)">
        </mat-form-field>

        <input type="file"
               class="file-input"
               (change)="onFileSelected($event)"
               #fileUpload>

        <div class="file-upload">
            {{fileName || "No file uploaded yet."}}
            <button mat-raised-button
                    color="primary"
                    (click)="fileUpload.click()">
                    <mat-icon>attach_file</mat-icon>
            </button>
        </div>

        <button mat-raised-button
                color="primary"
                [disabled]="!(createEnabled$ | async)"
                (click)="createJob()">
                Create
        </button>


    </div>

    <mat-form-field>
        <mat-label>Description</mat-label>
        <input matInput
            [ngModel]="description$ | async"
            (input)="onDescriptionChange($event)">
    </mat-form-field>

    <span *ngIf="showSpinner$ | async">
        <mat-spinner></mat-spinner>
        <label>{{spinnerText$ | async}}</label>
    </span>

    <label #errorLabel class="error">
        {{error$ | async}}
    </label>
</div>
