@if(job){
    <mat-expansion-panel hideToggle="true">

      <mat-expansion-panel-header>
            <mat-toolbar class="active-job">
                <div class="active-job-title-container">
                    <mat-icon>work</mat-icon>
                    <span>{{ job.name }}</span>
                </div>
                <span class="toolbar-spacer"></span>
                <span class="active-job-button-container">
                    <button mat-icon-button
                            [disabled]="!allowRequests"
                            class="active-job-button"
                            matTooltip="Unassign Job."
                            (click)="pauseJob(job)">
                        <mat-icon fontIcon="assignment_return"></mat-icon>
                    </button>

                    <button mat-icon-button
                            [disabled]="!allowRequests"
                            class="active-job-button"
                            (click)="cancelJob(job)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </span>
            </mat-toolbar>
        </mat-expansion-panel-header>


        <div>
            @if(progress$ | async; as progress){
                <mat-card>
                    <mat-card-header>
                        <div class="progress-title-container">
                            <mat-card-title>{{progress.phase}}</mat-card-title>
                            <div>{{progress.message}}</div>
                        </div>
                    </mat-card-header>
                    <mat-card-content class="progress-bar-container">
                        <mat-progress-bar [mode]="progress.percentage_done === -1 ? 'indeterminate' : 'determinate'"
                                          [value]="100*progress.percentage_done"></mat-progress-bar>
                        @if (progress.estimated_phase_time > 0){
                            <div>~{{36 | timespan}}</div>
                        }
                    </mat-card-content>
                </mat-card>

            }
        </div>

    </mat-expansion-panel>
}